// В этом файле должны быть стили для БЭМ-блока change-qty, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.change-qty {

  $block-name:                &; // #{$block-name}__element

  display: flex;

  &__btn {
    font-size: 18px;
    line-height: 1;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid $color-main;
    background-color:$color-main;
    user-select: none;
    cursor: pointer;
    touch-action: manipulation;
    flex-shrink: 0;

    &.btn-minus {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &.btn-plus {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    &:hover,
    &:focus {
      border-color: darken($color-main, 5%);
      background-color: darken($color-main, 5%)
    }
  }

  &__value {
    font-size: 20px;
    display: flex;
    width: 45px;
    height: 40px;
    text-align: center;
    color: #fff;
    border: 1px solid $color-main;
    background-color:$color-main;
    box-shadow: none;
    border-radius: 0;
    appearance: none;
    flex-grow: 1
  }
}

.icon-minus {
  background: svg-load('../blocks/change-qty/img_to_bg/minus.svg', fill="#fff") center no-repeat;
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
  display: block;
}

.icon-plus {
  background: svg-load('../blocks/change-qty/img_to_bg/plus.svg', fill="#fff") center no-repeat;
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
  display: block;
}
