@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
		font-family: 'MuseoSans';
		src: url("../fonts/MuseoSansBold.eot");
		src: url("../fonts/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/MuseoSansBold.woff") format("woff"),
		url("../fonts/MuseoSansBold.ttf") format("truetype");
		font-style: normal;
		font-weight: 700;
}

@font-face {
		font-family: "MuseoSans";
		src: url("../fonts/MuseoSansBlack.eot");
		src: url("../fonts/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
		url("../fonts/MuseoSansBlack.woff") format("woff"),
		url("../fonts/MuseoSansBlack.ttf") format("truetype");
		font-style: normal;
		font-weight: 900;
}

.page {
  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

	body {
		font-family: 'Proxima Nova';
	}
}


// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

.color-main {
  color: #3ead59;
}

.color-gray {
  color:#757575;
}

.container {
  @include container;
}

.upheader {
  border-bottom: 1px solid #F5F5F5;
}

.teamViewerButton {
	float: right;
}

.menu {

	height: auto;

	@media (min-width: $screen-lg) {
		top: 0;
	}

	@media (max-width: ($screen-lg - 1)) {
		top: 64px;
	}

  .toplevel {

    li.withsub {

			&:after {
				content: "";
				width: 3px !important;
				height: 3px !important;
				border-radius: 50%;
				display: inline-block;
				background: #555;
				vertical-align: middle;
				margin-left: 4px;
				background-size: 0;
			}

      .withsub-link {
        font-size: 12px;
				padding: 12px 20px 12px 0;
        color: #555;
        text-transform: inherit;
				border-top: 2px solid transparent;
      }

			&:hover {

				&:after {
					background: $color-main;
				}

				.withsub-link {
					border-top-color: $color-main;
					color: $color-main;
					background: transparent;
					box-shadow: none;
				}
			}
    }
  }
}

.catalog {

  &__header {
    background-color: #fff;
    padding: 10px 0;
  }

  &__title {
    font-size: 16px;
		font-family: 'MuseoSans';
		font-weight: 700;
    letter-spacing: -0.33px;
    color: #0d0d0d;
    text-align: left;
    margin: 15px 0;

		@media (min-width: $screen-md) {
			font-size: 24px;
		}

		@media (min-width: $screen-lg) {
			font-size: 40px;
		}
  }

  &__inner {
    min-height: 600px;
    background-color: #f8f8f8;
    padding: 10px 0 60px 0;
  }

  &__cards {
    @include row;
    margin: 0;

    .c_card {
      @include col();
      @include col(md, 6);
      @include col(lg, 4);
      @include col(xl, 3);
      min-height: 300px;
      border-radius: 2px;
    }
  }
}


.product {

	margin-top: 60px;

  &__top {
    @include row;
  }

  &__slider-wrap {
    @include col();
    @include col(md, 6);
    @include col(lg, 7);
  }

  &__summary-prices {
    @include col();
    @include col(md, 6);
    @include col(lg, 5);
  }

  &__slider {
    @include row;
		position: relative;

    .product-summary-slider {
      @include col();
      @include col(md, 3);
      @include col(lg, 2);
    }
    .product-summary-slider-main {
      @include col();
      @include col(md, 9);
      @include col(lg, 10);
    }

		.product-recommend {
			position: absolute;
	    top: 60px;
	    right: -15px;
			color: $color-main;
			text-transform: uppercase;
			font-size: 12px;
			transform: rotate(90deg);
			z-index: 2;
		}
		.product-vendor-code {
			position: absolute;
	    top: 20px;
	    left: 120px;
	    color: #a9a9a9;
	    font-size: 12px;
			z-index: 2;

			@media (max-width: ($screen-md - 1)) {
				left: 15px;
			}
		}
  }
}

.product-summary-slider {
  .slider-item {
    height: 60px;
    max-width: 78px;
    max-height: 68px;

    &.slick-current {
      border-color: $color-main;;
    }

    img {
      max-width: 68px;
      max-height: 56px;
    }
  }
}

.product-summary-slider {
    max-height: 400px;
    padding-top: 25px;
    padding-bottom: 25px;

    @media (max-width: ($screen-md - 1)) {
      display: none!important;
    }
}

.product-summary-slider .slick-arrow {
    background-color: transparent
}

.product-summary-slider .slick-arrow:before {
    font-size: 21px
}

.product-summary-slider .slick-arrow:before {
    color: $color-main;
}

.product-summary-slider .slick-prev {
    left: 0
}

.product-summary-slider .slick-next {
    right: 0
}

.product-summary-slider .slider-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 280px;
    padding: 0 10px;
    align-items: center;
    cursor: pointer
}

.product-summary-slider .slider-item .img-responsive {
    max-width: 100%;
    max-height: 278px;
    margin: auto;
    user-select: none
}

.product-summary-slider-main {
    display: none;
    height: 400px;
    max-height: 400px
}

.product-summary-slider-main.slick-initialized {
    display: block
}

.product-summary-slider-main .slider-item-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin: auto;
    outline: 0
}

.product-summary-slider-main .slider-item {
    height: 400px;
    max-height: 400px
}

.product-summary-slider-main .img-responsive {
    max-width: 100%;
    max-height: 278px;
    margin: auto;
    pointer-events: none
}

.product-summary-slider-main .slick-arrow {
    background-color: transparent;
		z-index: 2;
}

.product-summary-slider-main .slick-arrow:before {
    font-size: 21px
}

.product-summary-slider-main .slick-arrow:before {
    color: $color-main;
}

.product-summary-slider-main .slick-prev {
    left: 15px;
}

.product-summary-slider-main .slick-next {
    right: 15px;
}

.product-card {

  &__header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;

    .header-part-info {
      flex-grow: 1;
    }
  }

  &__name {
    text-align: left;
    font-size: 30px;
		font-family: 'MuseoSans';
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -0.09px;
    color: #2b2b2b;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__sub-name-list {
    font-size: 12px;
    opacity: 0.7;
    line-height: 1.67;
    color: #2b2b2b;

    li {
      position: relative;
      padding-left: 8px;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #2b2b2b;
      }
    }
  }

  &__info {
    margin-bottom: 25px;

		@media (min-width: $screen-lg) {
			max-width: 80%;
		}

    ul {
      font-size: 14px;

      li {
        margin-bottom: 10px;
        border-bottom: 1px solid #dadada;
        padding: 4px 0;
        display: flex;

        span {
          &:first-child {
            color: #111c24;
            flex-grow: 1;
          }
          &:last-child {
            min-width: 140px;
            text-align: left;
            color: #9a9a9a;
          }
        }
      }
    }
  }

  &__action {
    margin-bottom: 25px;

		@media (min-width: $screen-lg) {
			max-width: 80%;
		}
  }

  &__price {
    margin-bottom: 15px;

    .price {
      color: $color-main;
			font-weight: 700;
      font-size: 30px;
      line-height: 0.67;
      margin-right: 10px;

      &--old {
        color: #3a3a3a;
        opacity: 0.7;
        line-height: 1.67;
        font-size: 12px;
      }
    }
  }

  &__btn-group {
    display: flex;
    justify-content: space-between;

    .btn {
      width: calc(50% - 5px);
    }
  }

	&__stats {
		display: flex;
		flex-wrap: wrap;

		.stats-item {
			margin-right: 25px;
		}
	}
}

.product-feature {
  @include row;

  &__col {
    @include col();

    &:first-child {
      @include col(lg, 7);
    }

    &:last-child {
      @include col(lg, 5);
    }
  }

  &__list {

    li {
      @include row;
      margin: 0;
      margin-bottom: 15px;
      font-size: 14px;

      span {
        @include col();
        @include col(md, 6);
        padding: 0 !important;
      }

      .feature-name {
        display: flex;
        align-items: flex-end;
        color: #0d0d0d;

        &:after {
          content: "";
          border-bottom: 1px solid #ccc;
          flex-grow: 1;
        }
      }

      .feature-value {
        color: #3a3a3a;
      }
    }
  }
}

.product-table {

	&__row {
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid #e6e6e6;
		padding: 30px 0;

		@media (max-width: ($screen-md - 1)) {
			padding: 10px 0;
		}
	}

	&__col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 16px 10px 16px 10px;

		&--img {
			width: 26%;
			position: relative;
			order: 1;

			@media (max-width: ($screen-md - 1)) {
				order: 2;
			}

			img {
				max-width: 100%;
				height: auto;
			}
		}
		&--info {
			padding-top: 40px;
			width: 30%;
			order: 2;

			@media (max-width: ($screen-md - 1)) {
				width: 70%;
				order: 3;
				padding-top: 10px;
			}
		}

		&--qty {
			padding-top: 80px;
			width: 20%;
			order: 3;

			.change-qty {
				max-width: 130px;
			}

			@media (max-width: ($screen-md - 1)) {
				padding-top: 20px;
				width: 145px;
				flex-shrink: 0;
				order: 4;
			}
		}
		&--total {
			padding-top: 80px;
			width: calc(24% - 50px);
			order: 4;

			@media (max-width: ($screen-md - 1)) {
				padding-top: 20px;
				width: 50%;
				order: 5;
				display: flex;
				justify-content: center;
			}
		}
		&--remove {
			padding-top: 80px;
			width: 50px;
			order: 5;

			@media (max-width: ($screen-md - 1)) {
				order: 1;
				padding: 0;
				width: 100%;
				display: flex;
				align-items: flex-end;
			}
		}
	}

	.vendor-code {
    position: absolute;
    top: 140px;
    left: 15px;
    color: #a9a9a9;
    font-size: 12px;
    transform: rotate(-90deg);
    transform-origin: 0 100%;
	}

	&__name {
		font-size: 30px;
		font-family: 'MuseoSans';
		font-weight: 900;
		line-height: 1.1;
		letter-spacing: -0.09px;
		color: #2b2b2b;
		margin-bottom: 10px;

		@media (max-width: ($screen-md - 1)) {
			font-size: 22px;
		}

		a {
			color: #2b2b2b;
			text-decoration: none;
		}
	}

	&__info-list {
		font-size: 12px;
		opacity: 0.7;
		line-height: 1.67;
		color: #2b2b2b;
		margin-bottom: 15px;

		li {
			position: relative;
			padding-left: 8px;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 10px;
				width: 3px;
				height: 3px;
				border-radius: 50%;
				background-color: #2b2b2b;
			}
		}
	}

	&__stats {
		font-size: 12px;
		line-height: 1.67;
		color: #3ead59;
	}

	&__price {
		color: $color-main;
		font-size: 30px;
		font-weight: 700;
		white-space: nowrap;

		@media (max-width: ($screen-md - 1)) {
			font-size: 22px;
		}
	}

	.btn-remove {
		width: 21px;
		height: 21px;
		display: inline-block;
		background: url('../images/btn-remove-icon.svg') no-repeat;
		background-size: contain;
		margin: 4px;
	}
}

.basket-checkout {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	padding: 30px 0 80px;

	@media (max-width: ($screen-md - 1)) {
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
	}

	.checkout-total {
		display: flex;
		align-items: flex-end;
		margin-right: 30px;

		@media (max-width: ($screen-md - 1)) {
			margin-bottom: 15px;
		}

		&__text {
			font-size: 14px;
			color: #111c24;
			margin-right: 10px;
		}
		&__price {
			font-size: 30px;
		  font-weight: bold;
		  line-height: 0.67;
		  color: #3ead59;
			white-space: nowrap;
		}
	}
}

.clients {
	&__title {
		text-align: left;
		font-size: 40px;
		font-weight: 700;
		letter-spacing: -0.33px;
	  color: #2b2b2b;
	}
}

.clients-list {

	display: flex;
	flex-wrap: wrap;
	margin-bottom: 60px;

	&__item {
		width: 20%;
		margin-bottom: 15px;
	}

	.client-logo {

		padding: 15px;

		img {
			max-width: 100%;
			height: auto;
			display: block;
			margin: auto;
		}
	}
}

.stats-item {

	font-size: 12px;
	line-height: 1.67;

	&--order {
		color: #E73333;
	}
}


.priority-nav {
  white-space: nowrap;
  /*
    * Makes sure the menu's are inline-block so they don't take up
    * the entire width of its parent. This will break the plugin.
    */
}

.priority-nav > ul {
  display: inline-block;
}

.priority-nav > ul > li {
  display: inline-block;
}

.priority-nav-has-dropdown .priority-nav__dropdown-toggle {
  position: relative;
}

.priority-nav__wrapper {
  position: relative;
}

.priority-nav__dropdown {
  position: absolute;
  visibility: hidden;
}

.priority-nav__dropdown.show {
  visibility: visible;
}

.priority-nav__dropdown-toggle {
  visibility: hidden;
  position: absolute;
}

.priority-nav-is-visible {
  visibility: visible;
}

.priority-nav-is-hidden {
  visibility: hidden;
}

.catalog-nav-wrapper {
	margin: 1rem 0;
	padding: 0 1rem;
	min-width: 300px;
	position: relative;
	white-space: nowrap;
	max-width: 100%;
	z-index: 2;

	ul {
		display: inline-block;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li {
		margin-right: 5px;
		display: inline-block;

		&.active {

			a {
				color: #fff;
				background-color: #3ead59;
			}
		}
	}

	a {
		font-size: 12px;
		color: #0d0d0d;
		text-decoration: none;
		padding: 1.3rem 2rem;
		border-radius: 3px;
		display: block;
	}
}

.nav__dropdown {
	padding: 2rem;
	white-space: nowrap;
	top: 90%;
	right: 0;
	background-color:#fff;
	border: 1px solid $color-main;
	transition: 300ms cubic-bezier(0.25, 2, 0.25, 1);
	transform-origin: center top;
	transform: rotateX(-30deg);
	opacity: 0;
}

.nav__dropdown.show {
	transform: rotateX(0deg);
	opacity: 1;
	visibility: visible;
	box-shadow: 0 0 20px 0 rgba(49, 49, 49, 0.25);
	transition: 300ms cubic-bezier(0.25, 2, 0.25, 1), box-shadow 1000ms cubic-bezier(0.25, 2, 0.25, 1);
}

@media (max-width: 450px) {
	.nav__dropdown {
		right: auto;
		left: 0;
	}

	.nav__dropdown:after {
		right: auto;
		left: 4rem;
	}
}

.nav__dropdown:after {
	content: '';
	display: block;
	position: absolute;
	height: 0;
	width: 0;
	border-bottom: 6px solid $color-main;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: '';
	top: -6px;
	right: 25px;
}

.nav__dropdown-wrapper {
	display: inline-block;
	perspective: 700px;
}

@media (max-width: 450px) {
	.nav__dropdown-wrapper {
		position: static !important;
	}
}

.nav__dropdown-toggle {
	outline: none;
	display: inline-block;
	border: none;
	background: none;
	font-weight: 700;
	text-decoration: underline;
	color: $color-main;
  padding: 1.3rem 2rem;
	background-image: url("../images/arrow-down.svg");
	background-repeat: no-repeat;
	background-position: 100% center;
}

.nav__dropdown li {
	display: block;
	margin: 5px 0;
}

.nav__dropdown li:first-child a {
	padding-left: 2rem;
}

.nav__dropdown a {
	display: inline-block;
	padding: 0.5rem 2rem;
	font-weight: 400;
	font-size: 1.6rem;
}

.advise-logo {
	border-radius: 3px;
	box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.04);
	border: solid 1px #919191;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;

	img {
		width: 100%;
		max-width: 120px;
		height: auto;
	}
}
