// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.375em;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
  border-radius: 3px;
  // border: 1px solid $gray-lighter;
  border: 0;
  padding: 10px 18px;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-size: 14px;
  font-family: inherit;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  color: #000;
  background-color: #ccc;
  background-image: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    background-color: darken($gray-lightest, 10%);
    // border-color: darken($gray-lighter, 12%);
  }

  // &:visited {
  //   color: $text-color;
  // }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    // border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }

  &--green {
    color: #fff;
    background-color: $color-main;

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($color-main, 6%);
    }
  }

  &--outline-green {
    color: $color-main;
    background-color: transparent;
    border: solid 1.5px $color-main;

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($color-main, 6%);
      border-color: darken($color-main, 6%);
    }
  }

  &--outline-light {
    color: #fff;
    background-color: transparent;
    border: solid 1.5px #ffffff;

    &:hover,
    &:focus {
      color: $color-main;
      background-color: #fff;
    }

    &--disabled,
    &:disabled {
      color: #fff;
      background-color: $color-main;
      // border-color: $color-main;
    }
  }

  &--outline-gray {
    color: #757575;
    background-color: transparent;
    border: solid 1.5px #B2B2B2;

    &:hover,
    &:focus {
      color: $color-main;
      border-color: $color-main;
      background-color: #fff;
    }
  }
}
