// В этом файле должны быть стили для БЭМ-блока header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header-logo {
  display: flex;
  align-items: center;
  margin-right: 5%;

  @media (min-width: $screen-xl) {
    margin-right: 7%;
  }

  &__img {
    background: url(../images/ucs_logo.svg) no-repeat;
    width: 128px;
    height: 36px;
    margin-right: 10px;
  }

  &__about {
    margin-top: 0;

    @media (max-width: 410px) {
      display: none;
    }
  }
}

.header-call {
  margin-right: 2%;

  @media (max-width: 600px) {
    display: none;
  }

  @media (min-width: $screen-xl) {
    margin-right: 7%;
  }

  &__phone {
    a {
      text-decoration: none;
      font-weight: 700;
      color: #0d0d0d;
      font-size: 16px;
      line-height: 1.25;
    }
  }

  &__link {
    a {
      color: #3ead59;
      line-height: 1;
      font-size: 12px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.header-addres {
  color: #616161;
  font-family: 'Proxima Nova';
  font-size: 12px;
  line-height: 1.5;
  margin-right: 2%;

  @media (max-width: ($screen-lg - 1)) {
    display: none;
  }
}

.header-search {

  position: relative;
  margin-right: 1.4%;
  margin-left: auto;

  @media (max-width: ($screen-md - 1)) {
    display: none;
  }

  input[type=text] {
    margin-top: 0;
    border-radius: 2px;
    border: solid 1px #e8e8e8;
    background: #fff;
    font-size: 14px;
    height: 36px;
    max-width: 214px;
    width: auto;
    font-family: 'Proxima Nova';
    padding-left: 10px;

    &::placeholder {
      color: #e8e8e8;
    }
  }

  input[type=image] {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    margin: 0;
  }
}

.header-basket {

  @media (max-width: ($screen-md - 1)) {
    margin-left: auto;
  }

  .basket-btn {
    border-radius: 3px;
    background-color: #3ead59;
    transition: background-color 0.3s;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 18px 9px 18px;
    position: relative;

    @media (max-width: ($screen-lg - 1)) {
      width: 43px;
      height: 43px;
      font-size: 0;
      margin-right: 15px;
      background-image: svg-load('../images/shopping-cart.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 20px;
    }

    &:hover {
      background-color: darken(#3ead59, 6%);
    }

    .basket-btn-count {
      position: absolute;
      top: -3px;
      right: -5px;
      background-color: #e10000;
      color: #fff;
      padding: 0 2px;
      font-size: 10px;
      line-height: 10px;
      min-width: 16px;
      height: 16px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


.header {

  $block-name:                &; // #{$block-name}__element

  font-family: 'Proxima Nova';
  font-size: 14px;
  line-height: 1.29;
  color: #2b2b2b;

  &__top {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;

    @media (min-width: $screen-lg) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu_button {
      margin: 0
    }
  }

}
